* {
    margin: 0px;
    padding: 0px;
    outline: none;
    font-family: sans-serif;
}

body {
    background-color: #aaa;
}

#page {
    margin: auto;
    width: 800px;
    background-color: ivory;
}