.portfolio-container {
  min-height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
}

.portfolio {
  display: flex;
}

#carousel-container {
  display: flex;

  padding: 25px 0 500px 0;
  margin-bottom: 10em;
  background-color: #f2f2f2;
}

.carousel-button-holder {
  flex: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-button-holder i {
  color: #ff6a00;
}

#portfolio-carousel {
  flex: 84%;
  padding: 2px;
  border-radius: 12px;
  margin: 0 auto;
}

#portfolio-carousel img {
  border-radius: 12px;
  box-shadow: -60px -5px 40px 30px rgba(136, 136, 136, 0.5);
  box-shadow: 60px -5px 40px 30px rgba(136, 136, 136, 0.5);
}

.carousel-inner {
  overflow: visible;
}

.carousel-caption {
  position: absolute;
  top: 105%;
  left: 0;
  width: 90%;
  margin: 0 auto;
  text-align: left;
  color: black;
}

.carousel-caption > h5 {
  color: #ff6a00;
  font-weight: 600;
}

#portfolio-directions {
  margin-left: 8.5%;
}

#portfolio-directions p {
  line-height: 2.5em;
  display: flex;
  align-content: center;
}

#portfolio-directions p i {
  height: 1.5em;
  color: #ff6a00;
}

.portfolio-icons {
  padding: 2em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-icon {
  flex: 10%;
  margin-right: 1.5em;
}
.portfolio-icon img {
  display: block;
  height: 35px;
  margin: 1em auto;
}

.portfolio-icon figcaption {
  text-align: center;
}
